


.galeria_titulo{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )  
    ,url(imagenes/Storage1.jpg);
    height: 100px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @extend %flex;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}


.galeria_img{

    img.camion1{
    padding: 20px 0px 5px;
    }
    img.camion2{
    padding: 5px 0px;
    }
    img.camion3{
    padding: 5px 0px;
    }
    img.camion4{
    padding: 5px 0px;
    }
    img.camion5{
    padding: 5px 0px;
    }
    img.camion6{
    padding: 5px 0px;
    }

    img{
        width: 100% !important;
        height: 300px !important;
        filter: brightness(70%);
        }
        
        img:hover{
            border: solid 5px rgb(255, 255, 255);
            filter: brightness(100%);
        }
        .camion{
            margin: 0px !important;
            padding: 25px;
        }
}

.video{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}







