



header{
    
    .imagen__logo{
        height: 100px;
        width: 200px;
        padding-top: 10px;
    }

    .navbar__completa{
        justify-content: flex-end;
        align-items: baseline;
    }

    .link__color:hover{
        color:  $colorn !important;
    }    
}





footer {
    text-align: center;
    background-color: $colorn;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;

    ul {
        padding: 0px;
    }

    a {
        color: var(--bs-body-color);
        font-size: 20px;
    }

    .footer__parrafo{
        margin: 0px;
        padding: 10px 0px;
        }

    .footer__accesos{
        display: none;
    }

    .footer__redes{
        padding: 20px 0px; 
    }

    h3 {
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    .footer__logo {
        padding: 10px;
        .logo_f{
            height: 100px;
            width: 200px;
        }
    }
}
