



header{
    
    .imagen__logo{
        height: 100px;
        width: 150px;
        padding-top: 10px;
    }

    .navbar__completa{
        justify-content: flex-end;
        align-items: baseline;
    }

    .link__color:hover{
        color:  $colorn !important;
    }    
}