//----------------variables---------------------//

$colorn: rgb(255, 145, 2);
$colorg: hsl(0, 0%, 50%);

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

$back:( 
    bg-size: cover,
    bg-r: no-repeat,
);

@mixin conjunto ($height, $width) {
    height: $height;
    width: $width;
}



@import "./partials/header_footer";

@import "./partials/nosotros";

@import "./partials/servicios";

@import "./partials/galeria";

@import "./partials/contacto";

@import "./partials/index";

@import "./partials/mediaq";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

ul{
    list-style: none;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 50%);
}


main{
    margin: auto;
}