@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nosotros_titulo, .card__nosotros, .servicios_titulo, .card__servicios, .card__servicios .card__servicios__24, .card__servicios .card__servicios__cross, .card__servicios .card__servicios__inversa, .galeria_titulo, .contacto_titulo, .main__index__titulo, .main__index .index_img .envios_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .imagen__logo {
  height: 100px;
  width: 200px;
  padding-top: 10px;
}

header .navbar__completa {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header .link__color:hover {
  color: #ff9102 !important;
}

footer {
  text-align: center;
  background-color: #ff9102;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 10px 30px 10px;
}

footer ul {
  padding: 0px;
}

footer a {
  color: var(--bs-body-color);
  font-size: 20px;
}

footer .footer__parrafo {
  margin: 0px;
  padding: 10px 0px;
}

footer .footer__accesos {
  display: none;
}

footer .footer__redes {
  padding: 20px 0px;
}

footer h3 {
  font-weight: bold;
  color: black;
}

footer .footer__logo {
  padding: 10px;
}

footer .footer__logo .logo_f {
  height: 100px;
  width: 200px;
}

.nosotros_titulo {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(imagenes/bg-header-about.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/bg-header-about.jpg);
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  color: white;
}

.nosotros_titulo h1 {
  -webkit-animation: aparecer 2s;
          animation: aparecer 2s;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.nosotros {
  padding-top: 100px;
  padding-bottom: 100px;
}

.nosotros .parrafo_nosotros {
  padding: 50px 20px;
  text-align: center;
}

.nosotros .aside_nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__nosotros {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__nosotros .card__nosotros__uno {
  margin-bottom: 20px;
}

.card__nosotros .card__nosotros__uno img {
  height: 160px;
}

.card__nosotros .card__nosotros__dos {
  margin-bottom: 20px;
}

.card__nosotros .card__nosotros__dos img {
  height: 160px;
}

.card__nosotros .seguros {
  font-weight: bold;
}

.card__nosotros .flota {
  font-weight: bold;
}

.servicios_titulo {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(imagenes/edfgfg.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/edfgfg.png);
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  color: white;
}

.servicios_titulo h1 {
  -webkit-animation: aparecer 2s;
          animation: aparecer 2s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.card__servicios {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__servicios .card__servicios__24 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card__servicios .card__servicios__cross {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card__servicios .card__servicios__inversa {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card__servicios .hs {
  font-weight: bold;
}

.card__servicios .crossdocking {
  font-weight: bold;
}

.card__servicios .inversa {
  font-weight: bold;
}

.card__servicios img {
  height: 150px;
  width: 100%;
}

.titulo_destinos {
  color: gray;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 2em;
}

.destinos__parrafo {
  text-align: center;
  padding: 20px 12px;
}

.img_provincia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
}

.galeria_titulo {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(imagenes/Storage1.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/Storage1.jpg);
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  color: white;
}

.galeria_titulo h1 {
  -webkit-animation: aparecer 2s;
          animation: aparecer 2s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.galeria_img {
  margin-right: 0px;
  padding-top: 30px;
  padding-left: 12px;
}

.galeria_img img.camion1 {
  padding: 5px 0px;
}

.galeria_img img.camion2 {
  padding: 5px 0px;
}

.galeria_img img.camion3 {
  padding: 5px 0px;
}

.galeria_img img.camion4 {
  padding: 5px 0px;
}

.galeria_img img.camion5 {
  padding: 5px 0px;
}

.galeria_img img.camion6 {
  padding: 5px 0px;
}

.galeria_img img {
  width: 100% !important;
  height: 300px !important;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.galeria_img img:hover {
  border: solid 5px white;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.galeria_img .camion {
  margin: 0px !important;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 12px 40px 12px;
}

.contacto_titulo {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(imagenes/123415.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/123415.png);
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  color: white;
}

.contacto_titulo h1 {
  -webkit-animation: aparecer 2s;
          animation: aparecer 2s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.comunicate {
  color: gray;
  font-weight: bold;
  text-align: center;
  padding: 100px 10px 10px 10px;
  font-size: 2em;
}

.comunicate__parrafo {
  text-align: center;
}

.form_container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.form_container .form_nombre {
  background-color: #ffe7b3;
  border: none;
}

.form_container .form_mail {
  background-color: #ffe7b3;
  border: none;
}

.form_container .form_textarea {
  background-color: #ffe7b3;
  border: none;
}

.titulo_ubicacion {
  color: gray;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 2em;
}

.parrafo_video {
  text-align: center;
  padding: 20px 12px;
}

.mapa {
  padding: 10px 10px 100px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__index {
  margin: auto;
}

.main__index__titulo {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(imagenes/123.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/123.jpg);
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  color: white;
}

.main__index h1 {
  -webkit-animation: aparecer 2s;
          animation: aparecer 2s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.main__index .carousel_index {
  padding-top: 10px;
}

.main__index .carousel_index .boton_prev {
  height: auto;
}

.main__index .carousel_index .boton_next {
  height: auto;
}

.main__index .carousel_index .primera {
  height: 35vh;
}

.main__index .carousel_index .segunda {
  height: 35vh;
}

.main__index .carousel_index .tercera {
  height: 35vh;
}

.main__index .parrafo_index {
  text-align: center;
  padding: 100px 12px;
}

.main__index .index_img .envios_titulo {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(imagenes/123.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/123.png);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.main__index .seguimiento {
  background: -webkit-gradient(linear, left top, right top, from(#ff9102), to(#ffff00ad));
  background: linear-gradient(90deg, #ff9102, #ffff00ad);
}

.main__index .seguimiento .seguimiento__bloque__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__index .seguimiento .seguimiento__bloque__titulo h2 {
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.main__index .seguimiento .remitoguia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__index .seguimiento .remitoguia .remitoguia__img {
  width: 100%;
  padding: 5px;
}

.main__index .seguimiento .seguimiento__formulario {
  padding: 5px;
}

.main__index .seguimiento .seguimiento__formulario .seguimiento__numero {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .carousel_index .primera {
    height: 60vh !important;
  }
  .carousel_index .segunda {
    height: 60vh !important;
  }
  .carousel_index .tercera {
    height: 60vh !important;
  }
  .seguimiento {
    background: -webkit-gradient(linear, left top, right top, from(#ff9102), to(#ffff00ad));
    background: linear-gradient(90deg, #ff9102, #ffff00ad);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seguimiento__bloque {
    width: 55%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seguimiento__bloque__titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seguimiento__bloque__titulo h2 {
    color: white;
    font-size: 30px;
    font-style: italic;
  }
  .remitoguia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
  }
  .remitoguia__img {
    width: 100%;
    padding: 5px;
  }
  .seguimiento__formulario {
    padding-top: 55px;
  }
  .seguimiento__numero {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .aside_nosotros img {
    padding-top: 50px;
  }
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .parrafo_nosotros {
    text-align: justify;
  }
  .nosotros p {
    padding: 30px;
    font-size: large;
  }
  .destinos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img_provincia {
    height: 400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .destinos__parrafo {
    text-align: justify;
  }
  .titulo_destinos {
    padding-top: 100px;
  }
  .galeria_img {
    padding-left: 12px;
  }
  .boton-enviar {
    max-width: 500px;
  }
  .card__nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card__servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 150px;
    padding-bottom: 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card__servicios .card__servicios__24 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .card__servicios .card__servicios__cross {
    padding-left: 5px;
    padding-right: 5px;
  }
  .card__servicios .card__servicios__inversa {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (min-width: 992px) {
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .galeria_img img.camion1 {
    padding: 12px 0px;
  }
  .galeria_img img.camion2 {
    padding: 12px 0px;
  }
  .galeria_img img.camion3 {
    padding: 12px 0px;
  }
  .galeria_img img.camion4 {
    padding: 12px 0px;
  }
  .galeria_img img.camion5 {
    padding: 12px 0px;
  }
  .galeria_img img.camion6 {
    padding: 12px 0px;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer a:hover {
    color: white;
  }
  footer .footer__accesos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__escritorio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

ul {
  list-style: none;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: gray;
}

main {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */